{
    "env": {
        "browser": {
            "presets": ["es2016"],
            "plugins": [
                "add-module-exports",
                "transform-runtime"
            ]
        }
    }
}
