{
    "env": {
        "browser": {
            "presets": ["es2016"],
            "plugins": [
                "add-module-exports",
                "transform-runtime"
            ]
        },
        "node": {
            "presets": ["es2015-node4", "es2016"]
        }
    }
}
